@import "../../globalPartials/vars";

.calendarMonth{

	table{
		margin:$m20 0 0 0;
		border-collapse:collapse;
		width:100%;
		position:relative;
		overflow:hidden;

		caption{
			/*margin:0 0 $m35 50px;*/
			padding: $m20;
			text-align:left;
			font-weight:bold;
			color:$grey6;
			position:relative;		
		}
	}
	th,
	td{
		padding:$m4 $m10;
		width:14.28571428571429%;
	}
	th,
	tfoot td{
		text-align:left;
		color:$greyC;
		padding-bottom:$m20;
	}

	thead th{
		height:50px;
	}
	th:first-child,
	td:first-child{
		padding-left:$m20;
	}
	th:last-child,
	td:last-child{
		padding-right:$m35;
	}	
	

	td{
		height:120px;
	}

	tr.dates{
		margin-top:-120px;  /* td height  */
		position:absolute;
		@extend %flex;
		width:100%;

		td{
			display:inline-block;
		}
		.spots{
			position:absolute;
			bottom:35px;
		}
		.spot{
    		margin-right:$m5;
		}
		.date{
			display:block;
			position:absolute;
			bottom:10px;
		}		
	}


	tr.splitWeek{		

		td{
			&[colSpan="2"]{width:28.57142857142857%;}
			&[colSpan="3"]{width:42.85714285714286%;}
			&[colSpan="4"]{width:57.14285714285714%;}
			&[colSpan="5"]{width:71.42857142857143%;}
			&[colSpan="6"]{width:85.71428571428571%;}

			vertical-align:top;
			padding-top:20px;

			.wk{
				display: block;
				font-weight:bold;
				margin:0 0 $m5 0;
			}	


			.stretch{		
				@extend %flexVerticalCenter;	
				.wk{
					display:block;
					font-weight:bold;
				}		
			}

			td:first-child .stretch .middle{
				padding-left:$m20;
			}
			td:last-child .stretch .middle{
				padding-right:$m35;
			}
			td .stretch .middle{	
				padding:$m4 $m10;			
			}					
		}

	}

}
